SystemAdapter.Endpoints=tcp -h localhost -p 10000

Ice.ThreadPool.Server.SizeMax=10


Ice.Trace.Network=2


Ice.Trace.Protocol=1
Ice.Trace.Slicing=1


Ice.Admin.DelayCreation=1
Ice.Admin.Endpoints=tcp
Ice.Admin.InstanceName=ServerAdmin


Ice.ProgramName=mpk_system_server

MyApp.MaxTrams=50
MyApp.MaxLines=20
